Jingwen/data/raw/anfr/SUP_EMETTEUR.txt
Jingwen/data/raw/anfr/SUP_BANDE.txt
baseline_yolo/data/raw/anfr/SUP_BANDE.txt
baseline_yolo/data/raw/anfr/SUP_EMETTEUR.txt

# Python cache
__pycache__/
*.py[cod]
